html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 10px solid #f5ead9;
    background: url(../img/bamboo.jpg);
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(245, 234, 217, .8) url(../img/loader.gif) 50% 50% no-repeat;
}


input:focus, textarea {
    outline: none !important;
}

*, *:before, *:after {
    box-sizing: border-box !important;
}

.navbar-clear {
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, 0);
}

.navbar-clear a,
.navbar-clear button {
    color: #f5ead9;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-clear button {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-clear .icon-bar {
    background-color: #f5ead9;
}

.navbar-clear a:hover.brown,
.navbar-clear button:hover.brown {
    color: #331F18;
}

.navbar-clear .nav > li > button:hover,
.navbar-clear .nav > li > a:hover,
.navbar-clear .nav > li > button:focus,
.navbar-clear .nav > li > a:focus {
    text-decoration: none;
    background: rgba(245, 234, 217, .6);
}

#header {
    margin-left: 10px;
}

#content-container {
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    -moz-column-gap: 1em;
    -webkit-column-gap: 10px;
    margin-left: 10px;
}

a.view {
    color: #333;
}

a.view:hover, a.view:focus {
    color: #333;
}

.edit .bottom {
    position: absolute;
    bottom: 40px;
}

.create .bottom {
    position: absolute;
    bottom: 56px;
}

.edit .top-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 2px;
    background: none;
    border: none;
    box-shadow: none;
}

.edit .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 14px;
    bottom: 22px;
    background: none;
    border: none;
    box-shadow: none;
}

.create .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 38px;
    background: none;
    border: none;
    box-shadow: none;
}

#content-container .order {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../img/note-view.png);
    width: 360px;
    height: 220px;
    padding: 20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}

#content-container .note {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../img/note.png);
    width: 360px;
    height: 220px;
    padding: 20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}

#content-container .order.create {
    background-image: url(../img/note-create.png);
    height: 240px;
}

.edit input[type=text], .edit textarea {
    color: #333333;
    border: 1px solid #f5ead9;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.create input[type=text], .create input[type=number], .create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.edit input[type=text]:hover, .edit textarea:hover,
.edit input[type=text]:focus, .edit textarea:focus {
    border: 1px solid #d7cebf;
}

.create fieldset > * {
    margin: 2px 0;
}

.create form {
    margin: 0px;
}

.form-signin {
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../img/note-blank.png);
    width: 360px;
    height: 220px;
    padding: 20px;
    margin: 80px auto 20px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
}

.form-signin button {
    background: none;
    border: none;
    box-shadow: none;
}

.form-signin button:hover {
    background: none;
    border: none;
    box-shadow: none;
}

.form-signin .large {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.form-signin input[type=text],
.form-signin input[type=email],
.form-signin input[type=password],
.create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
    margin-bottom: 5px;
}

.ng-invalid button {
    color: #999999;
    background: rgb(255, 255, 255) !important; /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, 0) !important;
}

.remote {
    margin: 10px;
    padding: 10px;
}

.remote .row {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.edit input[type=text] {
    border: 1px solid #ffffff;
    width: 100%;
    resize: none;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.edit input[type=text]:hover,
.edit input[type=text]:focus {
    border: 1px solid #d7cebf;
    outline: none
}

.xlarge {
    font-size: 36px;
    font-weight: bold;
    color: inherit;
}

.large {
    font-size: 30px;
    font-weight: bold;
    color: inherit;
}

.medium {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

.x-small {
    font-size: 11px;
}

.close {
    position: absolute;
    right: 12px;
    top: 0px;
}

.red {
    color: #d9534f;
}