<!DOCTYPE html>
<html ng-app="smoothieOperator">
    <head>
        <title>Smoothie Operator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="assets/css/main.css" rel="stylesheet" />
    </head>
    <body ng-controller="MainCtrl" ng-class="{loading:loadingView}">
        <header class="navbar-clear" role="banner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="assets/img/logo.png" alt="Smoothie Operator"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="brown" href="#/admin" ng-if="currentUser">Admin</a></li>
                    <li><a class="brown" href="http://angularjs.org/" target="_blank">AngularJS</a></li>
                    <li><a class="brown" href="http://firebase.com/" target="_blank">Firebase</a></li>
                    <li><button type="button" class="btn btn-link brown" ng-if="currentUser" ng-click="logout()">Logout {{currentUser.email}}</button></li>
                    <li><a class="brown" href="#/login" ng-if="!currentUser">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </header>

        <div ng-view=""></div>

        <div class="modal"></div>

        <script src="vendor/jquery.min.js"></script>
        <script src="vendor/bootstrap.min.js"></script>
        <script src="vendor/sugar.custom.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
        <script src="vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>

        <script src="app/SmoothieOperator.start.js"></script>
    </body>
</html>